body {
    font-size: 10px;
}

#cuerpo .row .col {
    height: 30px;
    border: 1px solid black;
    padding: 0;
}

.rotulo {
    font-weight: bold;
}

.edicion {
    background-color: #ddf;
}

#titulo {
    font-weight: bold;
    background-color: #eef;
}

#logo {
    text-align: right;
}

#documento p {
    text-align: justify;
}

#documento p:first-child:first-letter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }
