<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/fontello.css">
<link rel="stylesheet" href="css/tabular.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <img width="50%" src="images/coop.png">
        </div>
        <div class="col-9">
            <h5>CARTA PARA LA SOLICITUD DE CRÉDITO</h5>
        </div>
    </div>
</div>    
<div id="documento">
    <br>
    <p>A Sres. del Banco</p>
    <br>
    <p> Por este medio yo, <strong>Juan Pérez Pérez</strong>, con cédula de <strong>ciudadanía</strong> <strong>1234567890</strong>, realizo una solicitud de crédito a esta institución bancaria, un crédito de <strong>5000.00</strong> USD (Dólares Americanos), a un plazo de <strong>5</strong> años de acuerdo a la taza de interés establecida por la institución.</p>
    <p>Yo he sido cliente de su institución por <strong>20</strong> años por lo que podrá verificar que he mantenido un comportamiento financiero responsable.</p>    
    <p>Además quisiera mencionar que llevo laborando <strong>10</strong> años en <strong>EMPRESA S.A.</strong> en el puesto de <strong>Desarrollador Java</strong> percibiendo un salario mensual de <strong>1500.00</strong> USD.</p>
    <p>Sin más por el momento me despido de Ud. en espera de su amable atención</p>
    <br><br><br>
    <p>Atentamente</p>
    <br><br><br>
    <p><strong>Ing. Juan Pérez Pérez</strong></p>
</div>

<script src="lib/popper.js/dist/umd/popper.min.js"></script>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>