<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="css/fontello.css">
<link rel="stylesheet" href="css/template.css">

<div id="content">
    <h3>Solicitud de cr&eacute;dito</h3><hr>

    <table class="table-striped table-bordered">
        <tr>
            <th style="width: 300px;height: 35px;">Nombre</th>
            <th style="width: 300px;height: 35px;text-align: center;">Fecha de nacimiento</th>
            <th style="width: 300px;height: 35px;text-align: center;">Genero</th>
        </tr>
        <tr ng-repeat="item in clients">
            <td style="width: 300px;height: 35px;">{{item.name}}</td>
            <td style="width: 300px;height: 35px;text-align: center;">{{item.dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}</td>
            <td style="width: 300px;height: 35px;text-align: center;">{{item.gender}}</td>
        </tr>
    </table>
    <br>
    <p align="justify">
        Quito, a las quince horas con treinta y tres minutos del
        <strong>{{clients[1].dateOfBirth | date: 'short'}}</strong>, ante mí, Justiniano Justo Leal Juez quinto del registro Civil, comparecen
        los señores
        <strong>{{clients[0].name}}</strong> y
        <strong>{{clients[1].name}}</strong> quienes bajo protesta de decir verdad, dijeron llamarse como quedó escrito y expresaron
        que es su voluntad unirse en matrimonio, bajo el régimen de Bienes separados de acuerdo a la solicitud y documentos que
        presentaron en este Juzgado del Registro Civil a mi cargo, con fecha
        <strong>{{clients[0].dateOfBirth | date: 'short'}}</strong>, los mismos en que están anotados los siguientes datos:
    </p>
    
    <h4>El contrayente</h4>
    <ul>
        <li>
            <strong>Nombre:</strong> {{clients[0].name}}</li>
        <li>
            <strong>Fecha de nacimiento:</strong> {{clients[0].dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}</li>
        <li>
            <strong>G&eacute;nero</strong> {{clients[0].gender}}</li>
    </ul>
    <br>
    <h4>La contrayente</h4>
    <ul>
        <li>
            <strong>Nombre:</strong> {{clients[1].name}}</li>
        <li>
            <strong>Fecha de nacimiento:</strong> {{clients[1].dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}</li>
        <li>
            <strong>G&eacute;nero</strong> {{clients[1].gender}}</li>        
    </ul>
    <br>
    
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-success texto">El contrayente</div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span>
                                <i class="icon-eye"></i>
                            </span>    
                            <strong>Nombre:</strong> {{clients[3].name}}
                        </li>
                        <li>
                            <span>
                                <i class="icon-money"></i>
                            </span>    
                            <strong>Fecha de nacimiento:</strong> {{clients[3].dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}
                        </li>
                        <li>
                            <span>
                                <i class="icon-bell"></i>
                            </span>  
                            <strong>G&eacute;nero</strong> {{clients[3].gender}}  
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-success texto">La contrayente</div>
                <div class="card-body">
                    <ul>
                        <li>
                            <span>
                                <i class="icon-eye"></i>
                            </span>
                            <strong>Nombre:</strong> {{clients[2].name}}
                        </li>
                        <li>                            
                            <span>
                                <i class="icon-money"></i>
                            </span>
                            <strong>Fecha de nacimiento:</strong> {{clients[2].dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}
                        </li>
                        <li>                              
                            <span>
                                <i class="icon-bell"></i>
                            </span>
    
                            <strong>G&eacute;nero:</strong> {{clients[2].gender}}
                        </li>
                    </ul>    
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Genero</th>
        </tr>
        <tr ng-repeat="item in clients">
            <td>{{item.name}}</td>
            <td>{{item.dateOfBirth | date: 'MMMM dd, yyyy' | capitalize}}</td>
            <td>{{item.gender}}</td>
        </tr>
    </table> 
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sapiente qui molestiae beatae nobis ratione facere dolor veniam repellendus quasi dicta omnis debitis, aspernatur illum commodi mollitia, tempora modi suscipit.
    Ab repellendus delectus, laboriosam sint quos ipsum ex dolorem dicta dolore? Sit fugit minima nihil tenetur ut iusto quas distinctio provident, quasi quam consectetur ullam incidunt doloribus explicabo facere vel.
    Facere incidunt ea deserunt, dolorum quas libero veritatis nisi cumque repellendus laudantium ipsum placeat eveniet quia pariatur minus delectus maxime praesentium minima nostrum. Atque nostrum aliquid temporibus, doloribus quisquam officiis?
    Earum nisi temporibus qui veritatis quo quam rerum excepturi quisquam quibusdam et sit non maiores, quae, neque soluta eos officiis minus reprehenderit iste ex facere odio repellat! Eaque, ipsa amet!
    Distinctio, porro ipsam repellat ad sunt minus culpa, maiores exercitationem similique alias velit nostrum dolorem mollitia officiis repudiandae iure aperiam in. Provident, nesciunt aliquam? Culpa eligendi odio excepturi quam autem.
    Maxime, commodi inventore quisquam veritatis modi eligendi earum eum laudantium consequuntur sit. Placeat consectetur atque ut ratione blanditiis ad, iste provident quas. Fugit quibusdam sequi officia rem molestiae perspiciatis animi.
    Similique ducimus dolorum placeat commodi laborum exercitationem laboriosam modi, quis amet id reprehenderit? Aut cupiditate, ullam harum quae adipisci velit earum iusto voluptas delectus, quibusdam ea, eveniet molestiae? Qui, earum.
    Similique est blanditiis mollitia maiores, voluptate cumque quidem ipsa quo, deleniti voluptatem labore sequi sint possimus fugiat? Corrupti, cupiditate? Deleniti eius architecto reiciendis, sapiente inventore sunt asperiores dolorum necessitatibus dicta!
    Quibusdam quos praesentium officia odit, iure aperiam deleniti dolorum sunt quaerat nam dolores ullam voluptatibus. Laboriosam dolore consequatur alias quo maxime beatae, quaerat ipsa saepe obcaecati nostrum natus officia necessitatibus?
    Officia, corporis accusamus aliquam id nobis architecto, neque nesciunt ex, pariatur placeat dicta quia aut asperiores numquam iusto. Commodi dignissimos dicta provident dolores quia dolor, sapiente explicabo maxime reprehenderit temporibus?</p>   
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo dolor veritatis dolore quia eveniet placeat, architecto illum quae amet laudantium aperiam consequatur unde iure animi voluptate, ut et repudiandae neque.
    Laborum libero voluptatem reiciendis excepturi, obcaecati nesciunt aspernatur officia adipisci. Asperiores deserunt accusamus in molestias maiores quo saepe exercitationem ipsam ratione, quos ad qui consequuntur iure doloribus molestiae voluptatum culpa.
    Inventore, eligendi labore maxime aperiam hic cumque voluptatum fugiat odit harum maiores voluptates animi iste, dolores velit pariatur sequi, culpa perspiciatis doloribus dolorem nulla asperiores rerum quos veniam libero. Excepturi.
    Ipsam provident minus quia nihil necessitatibus placeat ut, consectetur similique voluptates? Quas, recusandae tenetur quae est alias quo minima. Aliquam eius recusandae illum quia error placeat ad nemo praesentium dolor?
    Perferendis, voluptatum. Dignissimos enim alias quidem error vero numquam, repellat quasi non pariatur, itaque placeat necessitatibus voluptatibus? </p>
</div>
<script src="lib/popper.js/dist/umd/popper.min.js"></script>
<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>