<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/fontello.css">
    <link rel="stylesheet" href="css/tabular.css">
    <title>Document</title>
</head>

<body>

    <div class="row">
        <div class="col">
            <h4>SOLICITUD DE CREDITO</h4>
        </div>
        <div id="logo" class="col">
            <img width="50%" src="images/coop.png">
        </div>
    </div>
    <br>
    <p>La información proporcionada por este documento es de estricta confidencialidad, misma que será utilizada por la institución
        financiera cuando se lo considere pertinente.</p>
    <div id="cuerpo" class="container-fluid">
        <div class="row mt-3">
            <div class="col rotulo">Lugar y fecha:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Monto solicitado:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Plazo:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Asesor comercial:</div>
            <div class="col edicion"></div>
        </div>
        <div class="row">
            <div class="col rotulo">Destino del crédito:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Número de cuenta:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Número de socio:</div>
            <div class="col edicion"></div>
        </div>
        <div class="row">
            <div class="col rotulo">Provincia:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Cantón:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Parroquia:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Sector:</div>
            <div class="col edicion"></div>
            <div class="col rotulo">Ciudad:</div>
            <div class="col edicion"></div>
        </div>
        <div id="titulo" class="row rotulo">
            1. DATOS BÁSICOS DEL SOLICITANTE
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col">Hola mundo</div>
                </div>
                <div class="row">
                    <div class="col">Que tal</div>
                </div>
            </div>
            <div class="col col-4 h-4">
                Hola
            </div>
            <div class="col col-4 h-4">
                Mundo
            </div>
        </div>
    </div>

    <script src="lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>